<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('../layouts/head', { title: 'Local Shop | Quang Minh' }) %>
  
</head>

<body class="background on-surface-text">
  
  <!-- 
    - #TOP BAR
  -->

  <header class="top-bar">
    <div class="container">

      <a href="/" class="logo">
        <img src="/images/logo.svg" alt="Local Shop">
      </a>

    </div>
  </header>
</body>
</html>